.main_sobre {
    display: flex;
    gap: 2rem;
    min-height: calc(100vh - altura-do-header - altura-do-footer); /* Ajuste conforme necessário */
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.topicos-sobre {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 0.1rem;
    box-shadow: 0 4px 6px var(--sombreamento);
    overflow-y: auto;
    text-align: left;
    gap: 0.2rem;
    height: calc(100vh - altura-do-header); /* Ajuste conforme necessário */
    position: sticky;
    top: altura-do-header; /* Ajuste para a altura do seu header */
}

.topicos-ancoragem ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topicos-ancoragem li {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0;
}

.topicos-ancoragem li:hover {
    background-color: #e0e0e0;
}

.topico-item {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
}

.topico-item.ativo {
    background-color: #e0e0e0;
}

.subtopicos-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0.9rem;
}

.subtopicos-container li {
    display: flex;
    flex-direction: column;
    padding: 0px 1rem;
    font-size: 20px;
}

.subtopico-ativo {
    background-color: var(--cor-destaque);
    font-weight: bold;
}

/* Estilização da scrollbar */
.topicos-sobre::-webkit-scrollbar {
    width: 8px;
}

.topicos-sobre::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.topicos-sobre::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.topicos-sobre::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-texto {
    display: flex;
    padding: 2rem 5vw; /* Reduzi o padding para telas menores */
    flex: 1;
    gap: 5px;
    background-color: var(--cor-fundo);
    box-shadow: 0 4px 6px var(--sombreamento);
    overflow-y: auto;
    max-height: calc(100vh - altura-do-header - altura-do-footer); /* Ajuste */
    margin-bottom: 2rem; /* Espaço para o footer */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .main_sobre {
        flex-direction: column;
    }
    
    .topicos-sobre {
        width: 100%;
        height: auto;
        max-height: 200px;
        position: static;
    }
    
    .container-texto {
        padding: 1rem;
    }
}

.main_sobre h1 {
    color: var(--cor-texto);
    margin-bottom: 2rem;
}

.main_sobre h2 {
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}

.main_sobre p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
}