.card-inicial{
    padding: 0.4rem 3rem;
    font-size:1.5rem;
    text-align:left;
    width: 50vh;
    border-radius: 20px;
    font-style: normal;
    height:40rem;

}

h1{
    text-align:left;
    margin-bottom: 2vh;
    font-size:3.5rem;
}

p{
    font-size: large;
}

.card-cinza{
    background-color:gray;

}

.card-azul{
    background-color:var(--cor-de-card);
}
