.container_pg_login{
    font-size: 18px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 auto;
    color:var(--cor-texto);
}

.voltar_pag{
    color: var(--cor-texto);
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 50px;

}
.voltar_pag:hover{
    background-color: var(--cor-de-hover);
    border-radius: 10px;
}

.main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20vh;

        img
        {
            width: auto;
            height: 120px;
        }
}

.login_form {
    background-color:var(--cor-de-form);
    font-family: Helvetica, sans-serif;
    width: 120%;
    padding: 2.5rem 2.5rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2vh;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--sombreamento);
}

/* Estilos para os inputs*/
.login_form input {
    height: 2.5rem;
    width: 100%;
    padding: 0 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--cor-de-fundo);
}

/* Estilo para o botão */
.login_form .btn_logar {
    width: 100%;
    padding: 0.8rem;
    background-color:var(--cor-de-botao);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight:bolder;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.3rem;
}

.btn_logar:hover {
    background-color:var(--cor-de-hover);
}

/* Estilos pro link*/
.login_form a {
    display: block;
    text-align:left;
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1rem;
    margin: -0.5rem; 
}

.login_form p{
    font-size: smaller;
    cursor: pointer;
}

.login_form a:hover {
    text-decoration: underline;
}

.login_option{
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    margin: 0 50px;

        #icon_social{
            height: 50px;
            border: solid rgb(0, 0, 0) 1px;
            border-radius: 0%;
     
        }
}

.btnVoltar_container{
    position: absolute;
    top: 80px;
    left: 130px;
    align-self: flex-start;
}






