.card-planos {
    padding: 60px;
    border-radius: 20px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 30px; /* Espaço entre os elementos filhos */
}

h1 {
    text-align: left;
    margin-bottom: 2vh;
    font-size: 3.5rem;
}

p {
    font-size: xx-large;
    text-align: left;
    margin: 20px 0; /* Espaço superior e inferior nos parágrafos */
    line-height: 1.5; /* Melhora o espaçamento entre linhas */
}

.card-cinza {
    background-color: gray;
    padding: 30px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço abaixo do card */
}

.card-planos .card-azul { /* Corrigi a sintaxe (faltava um ponto antes de card-azul) */
    background-color: var(--cor-de-card);
    padding: 30px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço abaixo do card */
}
button{
    width: 120px;
}
