 a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.4rem; 
    border-radius: 0.6rem;
    font-size: x-large;
    transition: background-color 0.3s ease; /* Transição suave */
}

.links_footer a:hover {
    background-color: rgb(145, 198, 248);
}