:root {
  /* Cores Base - Tema Claro (default) */
  --cor-de-fundo: rgb(242, 248, 255);
  --cor-texto: black;
  --cor-header: rgb(203, 231, 255);
  --cor-de-card: rgb(230, 241, 252);
  --footer-bg: rgb(99, 180, 235);
  --footer-texto: #000000;
  --cor-hover:rgba(23, 73, 119, 0.349);
  --cor-de-form:rgb(255, 255, 255);
  --cor-de-botao:rgb(129, 204, 255);
  --cor-de-hover:rgb(75, 173, 238);
  --sombreamento:rgba(29, 29, 29, 0.1);
  --seg_cor_gradiente: rgba(117, 176, 204, 0.63);
}

[data-theme="dark"] {
  --cor-de-fundo: #424242;
  --cor-texto: #f0f0f0;
  --cor-header: #1a365d;
  --cor-de-card: rgb(75, 94, 114);
  --footer-bg: #0d1b2a;
  --footer-texto: #ffffff;
  --cor-hover:rgb(34, 98, 151);
  --cor-de-form:rgb(44, 44, 44);
  --cor-de-botao:rgb(51, 170, 206);
  --sombreamento:rgba(19, 19, 19, 0.897);  
  --seg_cor_gradiente: rgba(75, 100, 134, 0.705);
}

* {
  color: var(--cor-texto);
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;

}

body {
  background-color: var(--cor-de-fundo);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: var(--cor-header);
  width: 100%;
  padding: 0.5rem 7rem; /* Aumentado o padding para melhor visualização */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 2rem; /* Espaçamento interno */
  overflow-y: auto; /* Permite rolagem apenas no main se necessário */
}

footer.footer_main {
  background-color: var(--footer-bg);
  color: var(--footer-texto);
  width: 100%;
  height:fit-content;
  position: fixed;
  margin-top: auto;
}

footer.footer_main a {
  color: var(--footer-texto); 
  text-decoration: none;
  margin: 0 10px; 
}

footer.footer_main a:hover {
  background-color: var(--cor-hover);
}

.auth-layout{
  display: flex;
  height: 100vh;
  background-color:var(--cor-de-fundo);
  background-image: linear-gradient(to top, var(--seg_cor_gradiente )40%,var(--cor-de-fundo)80%);
  background-repeat:round;
  background-attachment: fixed;
  justify-content: center;
  padding: 0 auto;
  align-items: center;


}