:root {
  /* Cores Base - Tema Claro (default) */
  --cor-de-fundo: rgb(242, 248, 255);
  --cor-texto: black;
  --cor-header: rgb(203, 231, 255);
  --cor-de-card: rgb(230, 241, 252);
  --footer-bg: rgb(73, 163, 223);
  --footer-texto: #000000;
  --cor-hover:rgba(23, 73, 119, 0.349);
}

[data-theme="dark"] {
  --cor-de-fundo: #121212;
  --cor-texto: #f0f0f0;
  --cor-header: #1a365d;
  --cor-de-card: rgb(75, 94, 114);
  --footer-bg: #0d1b2a;
  --footer-texto: #ffffff;
  --cor-hover:rgb(34, 98, 151);
}

* {
  color: var(--cor-texto);
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box; /* Adicionado para melhor dimensionamento */
}

body {
  background-color: var(--cor-de-fundo);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: var(--cor-header);
  width: 100%;
  padding: 1rem 7rem;

}

main {
  flex: 1; 
  padding: 10px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: 100%; /* Alterado de 100vh para 100% */
  max-width: 1200px; /* Limite máximo de largura */
  margin: 0 auto; /* Centraliza o conteúdo */
}

footer.footer_main {
  background-color: var(--footer-bg);
  color: var(--footer-texto);
  padding: 1rem;
  width: 100%;
}

footer.footer_main a {
  color: var(--footer-texto) ; 
  text-decoration: none;
  margin: 0 10px; 
}

footer.footer_main a:hover {

  background-color: var(--cor-hover);
}